/* Bad Script (рукописный Для заголовка) */
@font-face {
  font-family: "Bad Script";
  src: url("../fonts/BadScript-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; // Чтобы текст не "прыгал" при загрузке
}

/* Montserrat (основной текст) */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
