@forward "./_reset";
// Переменные для удобства
$font-heading: "Bad Script";
$font-text: "Comfortaa", sans-serif;

body {
  background-color: $primary-color;
  background-image: url(../images/pastel.jpg);
  background-size: contain; /* Показывает всё изображение без обрезки */
  // background-position: center; /* Центрирует */
}

h1,
h2,
h3 {
  font-family: $font-heading;
  font-weight: 400; // Bad Script имеет только Regular
  color: $text-color;
  text-shadow: 1px 1px 2px black;
}

body,
p,
a {
  font-family: $font-text;
  font-weight: 300; // Легкий для основного текста
  color: $text-color;
}

strong {
  font-weight: 400; // Обычный для акцентов
}
