// Цвета
$primary-color: #28412e;
$secondary-color: #295240;
$text-color: #ffffff;
// $container-color: rgba(0, 51, 7, 0.342);
$container-color: rgba(0, 51, 7, 0.342); //old
// Шрифты
$font-main: "Comfortaa", sans-serif;
$font-accent: "Great Vibes", cursive;

// Размеры
$gutter: 16px;
$max-width: 1200px;
