// Цвета
$primary-color: #c89f94;
$secondary-color: #a67c52;
$text-color: #ffffff;

// Шрифты
$font-main: "Montserrat", sans-serif;
$font-accent: "Great Vibes", cursive;

// Размеры
$gutter: 16px;
$max-width: 1200px;
